<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Mini e-Payroll</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/employee" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            Employees
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/salary" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            Salary
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/payslip" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            Payslip
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
